.home-main {
    padding: 70px;
}

.home-col {
    margin-bottom: 20px;
}

.home-add-btn {
    background: #78e778;
    border-radius: 30px;
    padding: 5px 15px;
}

.home-card-img-top {
    height: 200px;
}