.landing-img {
    width: 80%;
}

.landing-col1 {
    padding: 80px;
    padding-top: 160px;

    h1 {
        font-size: 56px;
        margin-bottom: 20px;
    }
}

.landing-col1>p {
    font-weight: lighter;
    font-size: 24px;
}